<section class="bg-danger pb-3 pt-3 text-white"> 
    <div class="container  pb-5 pt-5"> 
        <div class="align-items-center row"> 
            <div class="col-lg-7"> 
                <h2 class="mb-3">Join Our Amazing Community</h2>
                <p class="font-weight-light">                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> 
            </div>                     
            <div class="col-lg-auto ml-auto"> 
                <a class="btn btn-outline-light pl-4 pr-4 rounded-pill" href="#">Register Now</a> 
            </div>                     
        </div>                 
    </div>             
</section>