<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="row d-flex">
                <div class="col-md-12">
                    <div class="row">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-self-center">
                            <div class="float-left">
                                <h2>{{type}}: TITLE</h2>
                            </div>
                        </div>                                
                    </div> 
                    <div class="row">
                        <hr>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 secondColMobile">
                    <div class="row">
                        <p>
                            Cut and paste or type your HTML to be tested into the text box below. Then click the Test the HTML Code button. It will open a new window so that you can see the results of your code. The testing process will also test various scripts that are legal in HTML. You must include full URLs to test the validity of links and graphics. Testing here can save save countless hours of FTP time and energy. While this is NOT a validator, it does give you a true view of the code
                        </p>
                        <p>
                            Cut and paste or type your HTML to be tested into the text box below. Then click the Test the HTML Code button. It will open a new window so that you can see the results of your code. The testing process will also test various scripts that are legal in HTML. You must include full URLs to test the validity of links and graphics. Testing here can save save countless hours of FTP time and energy. While this is NOT a validator, it does give you a true view of the code
                        </p>
                        <p>
                            Cut and paste or type your HTML to be tested into the text box below. Then click the Test the HTML Code button. It will open a new window so that you can see the results of your code. The testing process will also test various scripts that are legal in HTML. You must include full URLs to test the validity of links and graphics. Testing here can save save countless hours of FTP time and energy. While this is NOT a validator, it does give you a true view of the code
                        </p>
                        <p>
                            Cut and paste or type your HTML to be tested into the text box below. Then click the Test the HTML Code button. It will open a new window so that you can see the results of your code. The testing process will also test various scripts that are legal in HTML. You must include full URLs to test the validity of links and graphics. Testing here can save save countless hours of FTP time and energy. While this is NOT a validator, it does give you a true view of the code
                        </p>
                        <p>
                            Cut and paste or type your HTML to be tested into the text box below. Then click the Test the HTML Code button. It will open a new window so that you can see the results of your code. The testing process will also test various scripts that are legal in HTML. You must include full URLs to test the validity of links and graphics. Testing here can save save countless hours of FTP time and energy. While this is NOT a validator, it does give you a true view of the code
                        </p>
                        <p>
                            Cut and paste or type your HTML to be tested into the text box below. Then click the Test the HTML Code button. It will open a new window so that you can see the results of your code. The testing process will also test various scripts that are legal in HTML. You must include full URLs to test the validity of links and graphics. Testing here can save save countless hours of FTP time and energy. While this is NOT a validator, it does give you a true view of the code
                        </p>
                    </div>
                </div>
                <div class="col-md-3 firstColMobile">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://tacm.com/wp-content/uploads/2018/01/no-image-available.jpeg" alt="" style="height:100%; width:100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(1)}}
                                </div>
                                <ul>
                                    <li>
                                        list item
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(0)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(2)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(3)}}
                                </div>
                                <div class="location">

                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(4)}}
                                </div>
                                <div class="date">

                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(5)}}
                                </div>
                                <div class="date">

                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {{getLabel(6)}}
                                </div>
                                <ul>
                                    <li>
                                        list item
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="float-left">
                        <h6>CREATED</h6>
                        <div style="display: inline-flex;">
                            <div>27/02/2014&emsp;19:41</div>
                        </div>
                        <div class="fa fa-user">John Doe</div>
                    </div>
                    <div class="float-right">
                        <h6>UPDATED</h6>
                        <div style="display: inline-flex;">
                            <div>27/02/2014&emsp;19:41</div>
                        </div>
                        <div class="fa fa-user">John Doe</div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>