<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="row">
                <div class="col-lg-4">
                    <div class="profile-card-4 z-depth-3">
                        <div class="card">
                            <div class="card-body text-center bg-primary rounded-top">
                                <div class="user-box">
                                    <img [src]="imgFile" alt="user avatar" class="img-rounded" style="height: 300px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card z-depth-3">
                        <div class="card-body">
                            <div class="tab-content p-3">
                                <form [formGroup]="registerForm" enctype="multipart/form-data" (ngSubmit)="register()">
                                    <!--USERNAME-->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" for="name">Username</label>
                                        <div class="col-lg-9">
                                            <input 
                                                formControlName="name"
                                                id="name" 
                                                type="text" 
                                                class="form-control">
                                            <div class="text-danger">
                                                {{nameError}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--EMAIL-->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" for="email">Email</label>
                                        <div class="col-lg-9">
                                            <input 
                                                formControlName="email"
                                                id="email" 
                                                type="email" 
                                                class="form-control">
                                            <div class="text-danger">
                                                {{emailError}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--PROFILE PICTURE-->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" for="file">Profile Picture</label>
                                        <div class="col-lg-9">
                                            <input 
                                                formControlName="file"
                                                id="file" 
                                                type="file"
                                                accept="image/*" 
                                                class="form-control"
                                                (change)="onFileChange($event)">
                                            <div class="text-danger">
                                                {{profilePictureError}}
                                            </div>
                                        </div>
                                    </div>                               
                                    <!--PASSWORD-->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" for="password">Password</label>
                                        <div class="col-lg-9">
                                            <input 
                                                formControlName="password"
                                                id="password" 
                                                type="password" 
                                                class="form-control">
                                            <div class="text-danger">
                                                {{passwordError}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--CONFIRM PASSWORD-->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" for="confirmPassword">Confirm password</label>
                                        <div class="col-lg-9">
                                            <input 
                                                formControlName="confirmPassword"
                                                id="confirmPassword" 
                                                type="password" 
                                                class="form-control">
                                            <div class="text-danger">
                                                {{confirmPasswordError}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--BUTTONS-->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <button class="btn btn-primary" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>