<section class="pb-5 pt-5"> 
    <div class="container"> 
        <div class="mb-4 text-center">
            <h2 class="text-dark">Most Popular Fandoms</h2>
        </div>
        <div class="justify-content-center row"> 
            <div class="col-lg-4 col-md-6 py-3"> 
                <div class="background-center-center background-cover bg-dark p-4 position-relative text-white" style="background-image:url('https://images.unsplash.com/photo-1549861833-c5932fd19229?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwyMDkyMnwwfDF8c2VhcmNofDV8fGxhcyUyMHZlZ2FzfGVufDB8fHw&ixlib=rb-1.2.1&q=80&w=1080');"> 
                    <div class="mb-5 pb-5 pt-5"></div>
                    <div class=" pb-5 pt-5"></div>
                    <div>
                        <h3 class="h5 mb-1">Chicago, US</h3>
                        <p>645+ listing</p>
                        <a class="btn btn-light pl-3 pr-4 rounded-pill stretched-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em" class="mr-1">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M16 12l-6 6V6z"/>
                                </g>
                            </svg><span class="align-middle">Explore</span>
                        </a>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 py-3"> 
                <div class="background-center-center background-cover bg-dark p-4 position-relative text-white" style="background-image:url('https://images.unsplash.com/photo-1545209743-87a2a2a6fdad?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwyMDkyMnwwfDF8c2VhcmNofDQ5OXx8cGFyaXN8ZW58MHx8fA&ixlib=rb-1.2.1&q=80&w=1080');"> 
                    <div class="mb-5 pb-5 pt-5"></div>
                    <div class=" pb-5 pt-5"></div>
                    <div>
                        <h3 class="h5 mb-1">Paris, Frace</h3>
                        <p>784+ listing</p>
                        <a class="btn btn-light pl-3 pr-4 rounded-pill stretched-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em" class="mr-1">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M16 12l-6 6V6z"/>
                                </g>
                            </svg><span class="align-middle">Explore</span>
                        </a>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 py-3"> 
                <div class="background-center-center background-cover bg-dark p-4 position-relative text-white" style="background-image:url('https://images.unsplash.com/photo-1589088428702-3ea38a574498?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwyMDkyMnwwfDF8c2VhcmNofDI0fHxrYXRobWFuZHUlMjB0ZW1wbGV8ZW58MHx8fA&ixlib=rb-1.2.1&q=80&w=1080');"> 
                    <div class="mb-5 pb-5 pt-5"></div>
                    <div class=" pb-5 pt-5"></div>
                    <div>
                        <h3 class="h5 mb-1">Kathmandu, Nepal</h3>
                        <p>214+ listings</p>
                        <a class="btn btn-light pl-3 pr-4 rounded-pill stretched-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em" class="mr-1">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M16 12l-6 6V6z"/>
                                </g>
                            </svg><span class="align-middle">Explore</span>
                        </a>
                    </div>                             
                </div>                         
            </div>                     
        </div>
        <div class="pb-3 pt-3 text-center">
            <a class="btn btn-danger pl-4 pr-4 rounded-pill" href="#">View More</a>
        </div>                 
    </div>             
</section>