<section class="pb-5 pt-5">
    <div class="container">
        <div class="mb-4 text-center">
            <h2 class="text-dark">Trending Posts</h2>
        </div>
        <div class="justify-content-center row"> 
            <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                <div class="border"> 
                    <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixid=MXwyMDkyMnwwfDF8c2VhcmNofDY5fHxhbyUyMG5hbmd8ZW58MHx8fA&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=350&h=240&fit=crop" class="img-fluid w-100" alt="Location image" width="350" height="240"></a>
                    <div class="pb-3 pl-4 pr-4 pt-4">
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <a href="#" class="text-dark text-decoration-none"><h3 class="h5 mb-1">Panan Krabi Resort</h3></a>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="mr-1 text-danger">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        </g>
                                    </svg>
                                    <span class="align-middle">Ao Nang, Thailand</span>
                                </div>
                            </div>
                            <a class="btn btn-danger ml-2 p-2 rounded-pill" href="#" aria-label="add to favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="d-block">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg></a>
                        </div>
                        <hr/>
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <span class="mr-1 text-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 15.968l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275v10.693zm0 2.292l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26z"/>
                                        </g>
                                    </svg></span>
                                <span class="align-middle">432 reviews</span>
                            </div>
                            <span class="font-weight-bold pb-1 pt-1"><span>$</span><span>$</span><span>$</span></span>
                        </div>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                <div class="border"> 
                    <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1596178065887-1198b6148b2b?ixid=MXwyMDkyMnwwfDF8c2VhcmNofDkxfHxjaGljYWdvJTIwaG90ZWx8ZW58MHx8fA&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=350&h=240&fit=crop" class="img-fluid w-100" alt="Location image" width="350" height="240"></a>
                    <div class="pb-3 pl-4 pr-4 pt-4">
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <a href="#" class="text-dark text-decoration-none"><h3 class="h5 mb-1">Holiday Inn Rotorua</h3></a>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="mr-1 text-danger">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        </g>
                                    </svg>
                                    <span class="align-middle">Rotorua, New Zealand</span>
                                </div>
                            </div>
                            <a class="btn btn-danger ml-2 p-2 rounded-pill" href="#" aria-label="add to favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="d-block">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg></a>
                        </div>
                        <hr/>
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <span class="mr-1 text-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 15.968l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275v10.693zm0 2.292l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26z"/>
                                        </g>
                                    </svg></span>
                                <span class="align-middle">432 reviews</span>
                            </div>
                            <span class="font-weight-bold pb-1 pt-1"><span>$</span><span>$</span><span class="opacity-50">$</span></span>
                        </div>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                <div class="border"> 
                    <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1548588627-f978862b85e1?ixid=MXwyMDkyMnwwfDF8c2VhcmNofDY5fHxhbm5hcHVybmElMjBiYXNlJTIwY2FtcHxlbnwwfHx8&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=350&h=240&fit=crop" class="img-fluid w-100" alt="Location image" width="350" height="240"></a>
                    <div class="pb-3 pl-4 pr-4 pt-4">
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <a href="#" class="text-dark text-decoration-none"><h3 class="h5 mb-1">Annpurna Base Camp</h3></a>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="mr-1 text-danger">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        </g>
                                    </svg>
                                    <span class="align-middle">Ghandruk, Nepal</span>
                                </div>
                            </div>
                            <a class="btn btn-danger ml-2 p-2 rounded-pill" href="#" aria-label="add to favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="d-block">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg></a>
                        </div>
                        <hr/>
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <span class="mr-1 text-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 15.968l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275v10.693zm0 2.292l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26z"/>
                                        </g>
                                    </svg></span>
                                <span class="align-middle">432 reviews</span>
                            </div>
                            <span class="font-weight-bold pb-1 pt-1"><span>$</span><span class="opacity-50">$</span><span class="opacity-50">$</span></span>
                        </div>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                <div class="border"> 
                    <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1569369926169-9ee7fb80adeb?ixid=MXwyMDkyMnwwfDF8c2VhcmNofDMwfHxldmVyZXN0JTIwaG90ZWx8ZW58MHx8fA&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=350&h=240&fit=crop" class="img-fluid w-100" alt="Location image" width="350" height="240"></a>
                    <div class="pb-3 pl-4 pr-4 pt-4">
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <a href="#" class="text-dark text-decoration-none"><h3 class="h5 mb-1">The Whitehall Hotel</h3></a>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="mr-1 text-danger">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        </g>
                                    </svg>
                                    <span class="align-middle">East Delaware, Chicago</span>
                                </div>
                            </div>
                            <a class="btn btn-danger ml-2 p-2 rounded-pill" href="#" aria-label="add to favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="d-block">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg></a>
                        </div>
                        <hr/>
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <span class="mr-1 text-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 15.968l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275v10.693zm0 2.292l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26z"/>
                                        </g>
                                    </svg></span>
                                <span class="align-middle">432 reviews</span>
                            </div>
                            <span class="font-weight-bold pb-1 pt-1"><span>$</span><span>$</span><span>$</span></span>
                        </div>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                <div class="border"> 
                    <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1590401939533-2e990cbce326?ixid=MXwyMDkyMnwwfDF8c2VhcmNofDQ3fHxUYW5haCUyMExvdCUyMFRlbXBsZSwlMjBiYWxpfGVufDB8fHw&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=350&h=240&fit=crop" class="img-fluid w-100" alt="Location image" width="350" height="240"></a>
                    <div class="pb-3 pl-4 pr-4 pt-4">
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <a href="#" class="text-dark text-decoration-none"><h3 class="h5 mb-1">Tanah Lot Temple</h3></a>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="mr-1 text-danger">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        </g>
                                    </svg>
                                    <span class="align-middle">Beraban, Kediri, Bali</span>
                                </div>
                            </div>
                            <a class="btn btn-danger ml-2 p-2 rounded-pill" href="#" aria-label="add to favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="d-block">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg></a>
                        </div>
                        <hr/>
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <span class="mr-1 text-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 15.968l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275v10.693zm0 2.292l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26z"/>
                                        </g>
                                    </svg></span>
                                <span class="align-middle">432 reviews</span>
                            </div>
                            <span class="font-weight-bold pb-1 pt-1"><span>$</span><span>$</span><span class="opacity-50">$</span></span>
                        </div>
                    </div>                             
                </div>                         
            </div>
            <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                <div class="border"> 
                    <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1605825831039-8b6b4199b04a?ixid=MXwyMDkyMnwwfDF8c2VhcmNofDI3fHxldmVyZXN0JTIwaG90ZWx8ZW58MHx8fA&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=350&h=240&fit=crop" class="img-fluid w-100" alt="Location image" width="350" height="240"></a>
                    <div class="pb-3 pl-4 pr-4 pt-4">
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <a href="#" class="text-dark text-decoration-none"><h3 class="h5 mb-1">Hotel Abbazia</h3></a>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="mr-1 text-danger">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        </g>
                                    </svg>
                                    <span class="align-middle">Venice, Italy</span>
                                </div>
                            </div>
                            <a class="btn btn-danger ml-2 p-2 rounded-pill" href="#" aria-label="add to favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="d-block">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"/>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"/>
                                    </g>
                                </svg></a>
                        </div>
                        <hr/>
                        <div class="align-items-center d-flex justify-content-between">
                            <div class="pb-1 pt-1">
                                <span class="mr-1 text-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/>
                                        </g>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 15.968l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275v10.693zm0 2.292l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26z"/>
                                        </g>
                                    </svg></span>
                                <span class="align-middle">432 reviews</span>
                            </div>
                            <span class="font-weight-bold pb-1 pt-1"><span>$</span><span>$</span><span class="opacity-50">$</span></span>
                        </div>
                    </div>                             
                </div>                         
            </div>                     
        </div>
        <div class="pb-3 pt-3 text-center">
            <a class="btn btn-danger pl-4 pr-4 rounded-pill" href="#">View More</a>
        </div>                 
    </div>             
</section>